html{
	height: 100%
}

body{
	height: 100%;
	width: 100%;
}

* {
	padding: 0;
	margin: 0;
	background-size: 100% 100%;
	font-family: Thoma, sans-serif;
	list-style: none;
	color: white;
}

.wrapper {
	height: 100%;
	width: 100%;
	background-image: url(../img/bg.jpg);
}

/* TOP MENU */

.header {
	height: 35px;
	width: 100%;
	background-image:url(../img/bg-header.jpg);
}

.header * {
	line-height: 35px;
	font-size: 14px;
}


.login {
	float: right;
	margin-right: 20px;
	text-align: center;
	width: 190px;
	background-image: url(../img/login-background.jpg);

}

.login a:hover{
	text-decoration: none;
}

.offer {
	height: 35px;
	float: right;
	width: 145px;
	text-align: right;
	padding: 0px 17px 0px 20px;
	background: url(../img/flag.png) 35px 3px no-repeat;
}

.offer a {
	text-decoration: none;
}

.offer a:hover {
	text-decoration: underline;
}

.menu {
	overflow: hidden;
}

.menu li {
	float: right;
}

.menu a {
	text-decoration: none;
	padding: 9px 15px;
	color: rgb(96, 181, 237);
}

.menu a:hover {
	background: url(*../img/login-background.jpg);
	color: white;
}

/* --- CENTRAL MENU --- */

.input-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	width: 560px;
	height: 610px
}

.input-form-header {
	height: 62px;
	margin-bottom: 2px;
	background: rgba (0,0,0,0.63);
	font-size: 24px;
	text-align: center;
	line-height: 62px; 
}

.input-form-content {
	background: rgba(0,0,0,0.63);
	height: 550px;
}

.facebook {
	height: 70px;
	margin: auto;
}

.facebook-btn{
	background: url(../img/fb.png) no-repeat;
	display: block;
	top: 35px;
	position: relative;
	margin: auto;
	height: 40px;
	width: 280px;
	border: none;
}


h2 {
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 20px 0;
}

h2:before {
    position: absolute;
    content: "";
    width: 120px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    left: 1px;
    bottom: 27px;
    margin-left: 141px;
}

h2:after {
    position: absolute;
    content: "";
    width: 120px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    right: 1px;
    bottom: 27px;
    margin-right: 141px;
}

.form{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 276px;
	font-size: 14px;
}

.input {

	width: 276px;
	height: 34px;
	font-size: 14px;
	margin-bottom: 15px;
	border: none;
	text-indent: 20px;
	border-bottom: 1px solid #484948;
	background: #0f0f0f;

}

.input:focus{
	background: rgba(0, 100, 200, 1);
	outline: none;
	box-shadow: 0px 0px 5px 2px rgba(0, 100, 200, 1);
	border-bottom: 1px solid #0000FF;
	height: 34px;
}

.checkbox{
	margin-top: 2px;
}


.textEdit{
	font-size: 12px;
	padding-top: 25px;
	text-align: center;
}



.account-btn{
	display: block;
	margin: 20px auto 0;
	height: 35px;
	width: 151px;
	border-radius: 3px;
	border: 1px solid #63a7e3;
	background-image: url(../img/login-background.jpg)
}	