
body{
  background:#BBBBBB;
}

.list {
  width:700px;
  background:#FFFFFF;
  padding:15px;
  margin:auto
}

.person_Info{
  border-bottom: 1px solid grey;
  text-align: center;
  font:17px, Helvetica, sans-serif;
  line-height: 25px;
}

.additional_Information{
  text-align: center;
  font: 19px, Helvetica, sans-serif;
  line-height: 25px;

}

.explain_Question_1, .explain_Question_2{
  font-family: Helvetica, sans-serif;
	font-weight: normal;
	line-height: 24px;
	text-align: left;
	text-indent: 15px;
	font-size: 18px;
  border-bottom: 1px solid grey;
  padding-left: 45px
}

.explain_Question_3{
  font-family: Helvetica, sans-serif;
	font-weight: normal;
	line-height: 25px;
	text-align: left;
	text-indent: 15px;
	font-size: 18px;
  padding-left: 45px
}

/*.changePadding{
  padding-left: 30px
}*/


/*.changeTextPosition{
  padding-left: 45px
}*/

.delete_Indent{
  line-height: 1px;

}


/*.list2 {
  width:100%;
  font-size:17px;
  color:#000000;
}*/
